/*-----------------------------POLICE PERSONNALISEE-----------------------------*/
@font-face {
    font-family: Bebas;
    src: url(fonts/BebasNeue-Regular.ttf);
}
  
@font-face {
    font-family: Lemon;
    src: url(fonts/LEMONMILK_Medium.otf);
    font-weight: normal;
    font-style: normal;
}
  
@font-face {
    font-family: Lemon;
    src: url(fonts/LEMONMILK_Light.otf);
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto-Regular.ttf);
    font-weight : normal;
    font-style : normal;
}

@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto-Black.ttf);
    font-weight : bold;
    font-style : normal;
}    

@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto_Thin.ttf);
    font-weight : 200;
    font-style : normal;
}


/*-----------------------------PROPRIETES GENERALES-----------------------------*/
*
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

html
{
    scroll-behavior: smooth;
}

#main_wrapper
{
    background-color: rgb(250, 253, 252);
    overflow-x: hidden;
}

#none
{
  opacity: 0;
}


/*-----------------------------EN TETE-----------------------------*/
header
{
    height: 105vh;
    width: 100%;
    background-color: rgb(212, 236, 226);
    clip-path: polygon(100% 0, 100% 85%, 50% 100%, 0 85%, 0 0);
}


/*-----------------------------MENU DE NAVIGATION-----------------------------*/
nav ul
{
    width: 100%;
    margin-top: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 2rem;
    text-align: center;
}

nav li
{
    margin-right: 1rem;
    margin-left: 1rem;
}

nav img 
{
    width: 150px;
    margin: 0;
}

nav a 
{
    font-family: Lemon ,Roboto ,Arial, Helvetica, sans-serif;
    text-decoration : none ;
    color: rgb(32, 29, 30);
    font-weight: 200;
    transition: all .2s ease-in-out;
}

nav a:hover
{
    text-shadow: 2px 2px 0px rgba(40, 194, 117, 0.678);
}


/*-----------------------------HERO SECTION-----------------------------*/
.hero
{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.hero img
{
    width: 100vh;
}

.hero_verticale
{
    display: none;
}


/*-----------------------------MENU HORAIRES-----------------------------*/
#call_to_action 
{
    font-family: Lemon ,Arial, Helvetica, sans-serif;
    font-size: clamp(1.5rem, 5vw , 5vw);
    text-align: center;
    margin-top: 5rem;
}

#call_to_action_info
{
    display: flex;
    justify-content: center;
}

#call_to_action_info p
{
    font-family: Lemon ,Arial, Helvetica, sans-serif;
    font-weight: 200;
    font-size: clamp(1rem, 5vw , 2.09vw);
    text-align: center;

    margin-top: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;

    width: fit-content;
    padding: 1rem;
    border-radius: 20px;
    background-color: rgba(241, 241, 202, 0.603);
    box-shadow: 5px 5px 0 rgb(228, 228, 199);
    
}

#horaires ul
{
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#horaires img
{
    width: 100%;
    transform: scale(0.75);
    transition: all .2s ease-in-out;
}

#horaires img:hover
{
    transform: scale(0.85);
}


/*-----------------------------HISTOIRE-----------------------------*/
#histoire
{
    margin-top: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(32, 29, 30);
    clip-path: polygon(0 0%, 50% 15%, 100% 0, 100% 100%, 50% 85%, 0 100%);
    padding-bottom: 1vh;
    padding-top: 1vh;
}

.histoire_texte
{
    width: 40%;
    margin-left: 3vw;
    font-family: Lemon ,Roboto, Arial, Helvetica, sans-serif;
    font-size: clamp(12px, 3vw, 2vw);
    color: rgb(250, 253, 252); ;
}

.histoire_texte p 
{
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

.histoire_texte h1
{
    font-weight: normal;
}

#histoire img
{
    margin-right: 3vw;
    margin-top: 5rem;
    margin-bottom: 5rem;
    width: 25%;
}


/*-----------------------------ROUE ACTIVITES-----------------------------*/
#activités
{
    margin-top: -10rem;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 2;
}

#activités img
{
    /*width: 80%;*/
    width: 85vh;
}


/*-----------------------------PIED DE PAGE-----------------------------*/
footer
{
    font-family: Roboto ,Arial, Helvetica, sans-serif;
    font-weight: 200;
    color: #EEF2F4;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    background-color: rgb(32, 29, 30);
    clip-path: polygon(0 15%, 50% 0, 100% 15%, 100% 100%, 50% 100%, 0 100%);
    
    position: relative;
    z-index: 0;
    margin-top: -3rem;
    padding-top: 6rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 6rem;
}

/*FICHE CONTACT*/
#contact a em:hover
{
  transition: all .1s ease-in-out;
}

#contact a em:hover
{
 text-shadow: 1px 1px 0px rgb(155, 4, 255);
}

/*Ajustement footer*/
footer h1
{
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: normal;
}

footer em , a 
{
  font-weight: 100;
  font-style: normal;
  text-decoration: none;
  color: white;
}

footer h1
{
  margin-top: 6rem;
}

footer li
{
  margin-top: 0.25rem;
}

/*FICHE RESEAUX SOCIAUX*/
.socials ul
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.socials ul li
{
    margin-right: 0.5rem;
}

.socials img
{
  /*scale: 0.6;*/
  width: 90%;
  transition: all .2s ease-in-out;
}

.socials img:hover
{
  transform: scale(1.2);
}










/*------------------------------------------------------------------------*/
/*-----------------------------MEDIA QUERRIES-----------------------------*/
/*------------------------------------------------------------------------*/
@media screen and (max-width : 925px)  /* Economiser la place du logo */
{
    .nav_logo
    {
        display: none;
    }
}





@media screen and (max-width : 800px)  /*smartphone*/ 
{
    /*-----------------------------MENU DE NAVIGATION-----------------------------*/
    nav ul
    {
        padding-top: 1rem;
        font-size: 1.5rem;
        margin-top: 0;
    }
    
    nav li
    {
        margin: 1rem;
    }


    /*-----------------------------HERO SECTION-----------------------------*/
    .hero_horizontale
    {
        display: none;
    }

    .hero_verticale
    {
        display: block;  
    }
    
    .hero img
    {
      height: 70vh;
      width: auto;
    }


    /*-----------------------------MENU HORAIRES-----------------------------*/
    #horaires img
    {
        max-width: 30vw;
        min-width: 10rem;
    }


    /*-----------------------------ROUE ACTIVITES-----------------------------*/
    #activités
    {
        margin-top: -5rem;
    }
    
    #activités img
    {
        width: 90%;
    }


    /*-----------------------------PIED DE PAGE-----------------------------*/
    footer 
    {
      flex-direction: column;
      text-align: center;
    }
}





@media screen and (max-width : 585px) /*ajustements taille nav*/
{
    /*-----------------------------MENU DE NAVIGATION-----------------------------*/
    nav ul
    {
        font-size: 1.125rem;
    }

    nav ul
    {
        justify-content: center;
        margin: 0;
    }

    nav li
    {
        margin-left: 0.25rem;
        margin-right: 0.25rem;   
    }
}








@media screen and (max-width : 550px)  /*ajustements flex menu horaire*/ 
{
    /*-----------------------------MENU HORAIRES-----------------------------*/
    #horaires ul
    {
        flex-wrap: wrap;
    }


    /*-----------------------------HISTOIRE-----------------------------*/
    .histoire_texte
    {
        width: 45%;
        margin-left: 3vw;
        font-family: Lemon ,Roboto, Arial, Helvetica, sans-serif;
        font-size: clamp(12px, 2vw, 2vw);
        color: rgb(250, 253, 252); ;
    }

    #histoire img
    {
        margin-right: 3vw;
        margin-top: 5rem;
        margin-bottom: 5rem;
        width: 30%;
    }

}





@media screen and (max-width : 400px)  /*petit smartphone (iphone, SE...)*/
{
    /*-----------------------------MENU DE NAVIGATION-----------------------------*/
    nav ul
    {
        font-size: 1.5rem;
    }
    
    nav a 
    {
        font-family:  Bebas ,Arial, Helvetica, sans-serif; 
    }


    /*-----------------------------HERO SECTION-----------------------------*/
    .hero img
    {
      height: 65vh;
    }


    /*-----------------------------ROUE ACTIVITES-----------------------------*/
    #activités
    {
        /*changement d'unité pour eviter collisions sur les dimensions trop petites*/
        margin-top: -19vw;
    }

} 


